<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="http://heartratetouch.com/favicon.ico?v=3" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Pelfunc, Inc." %></title>
    <%= data.page.meta %>
    
    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>

    <!-- Facebook SEO -->
    <meta property="og:title" content="タッチ de 心拍数"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://heartratetouch.com/jp/"/>
    <meta property="og:image" content="http://heartratetouch.com/images/three2048_jp.png"/>
    <meta property="og:site_name" content="タッチ de 心拍数"/>
    <meta property="og:description" content="「タッチ de 心拍数」はあなたのプライバシーを守りながらシンプルに、かつ、正確に心拍数を測定します。ログイン、他のアップセルの仕掛けはいっさいありません。"/>

  </head>
  
  <body class="<%= page_classes %>">
  <div class="off-canvas-wrap wrapper" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar hide-for-medium-up">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span id="menu-indent">menu</span></a>
        </section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <%= partial(:menu_jp) %>
        </ul>
      </aside>
      <a class="exit-off-canvas"></a>

      <div class="show-for-medium-up contain-to-grid">
        <nav class="top-bar show-for-medium-up" data-topbar>
          <ul class="title-area">
            <li class="name"><a href="/jp"><img width="35" height="35" style="padding-top: 10px; padding-left: 10px; opacity: 0.85;" src="/images/pelfunc_grid_white.png" alt="Pelfunc Grid Symbol"></a></li>
            <li class="toggle-topbar menu-icon"><a href="#">menu</a></li>
          </ul>
          <section class="top-bar-section right">
            <ul>
              <%= partial(:menu_jp) %>
            </ul>
          </section>
        </nav>
      </div>

    <main>
      <%= yield %>
    </main>
    </div> <!-- inner wrap -->
  </div> <!-- off canvas -->
  <%= javascript_include_tag  "all" %>

    <footer>
      <div class="row">
        <div class="large-offset-6 large-6 columns">      
          <div class="topspace right">&copy; Pelfunc Inc., 2014-2015.</div>
        </div>
      </div>
    </footer>
    <%= partial(:analytics) %>
  </body>
</html>