    <li><%= link_to 'ホーム', '/jp' %></li>
    <li><%= link_to '製品紹介', '/hrt_about_jp' %></li>
    <li><%= link_to 'よくある質問', '/hrt_faq_jp' %></li>
    <li><%= link_to 'プライバシー', '/hrt_privacy_jp' %></li>
    <li><%= link_to '連絡', '/hrt_contact_jp' %></li>