    <li><%= link_to 'Home', '/index.html' %></li>
    <li><%= link_to 'About', '/hrt_about' %></li>
    <li><%= link_to 'FAQ', '/hrt_faq' %></li>
    <li><%= link_to 'Privacy', '/hrt_privacy' %>
    <li><%= link_to 'Contact', '/hrt_contact' %></li>