    <li><%= link_to 'ホーム', '/jp' %></li>
    <li><%= link_to '製品紹介', '/about_jp' %></li>
    <li><%= link_to 'Blog', '/blog' %></li>
    <li><%= link_to 'よくある質問', '/faq_jp' %></li>
    <li><%= link_to 'プライバシー', '/privacy_jp' %></li>
    <li><%= link_to '連絡', '/contact_jp' %></li>